$root-width: 750;
$base-red: #ac0300;
$base-font-color: #333333;
$base-bg-color: #f5f5f5;
$xs: 6px;
$sm: 8px;
$lg: 12px;
$xl: 16px;

// 重置样式
html {
  box-sizing: border-box;
  font-size: 14px;
  color: $base-font-color;
  background-color: $base-bg-color;
  width: 100%;
  padding-bottom: 56px;
}
body {
  background: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: $base-font-color;
}

.van-field__control {
  line-height: 24px;
}

// 通用样式
.text-red {
  color: $base-red;
}

.text-grey{
  color: #666;
}

.text-white{
  color:#FFF;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bg-white {
  background-color: white;
}

.bg-grey{
  background-color:$base-bg-color;
}

.bg-red{
  background-color:$base-red;
}

.radius {
  border-radius: 8px;
}

.round {
  border-radius: 50%;
}

.icon {
  width: 32px;
  height: 32px;
  &.small {
    width: 22px;
    height: 22px;
  }

  &.large {
    width: 48px;
    height: 48px;
  }
}

// 字体图标
.t-icon {
  font-size: 18px;
  &-small {
    font-size: 14px;
  }
  &-large {
    font-size: 28px;
  }
}

.m {
  margin: 12px;
  &-l {
    margin: 18px;
  }
  &-s {
    margin: 6px;
  }
  &-0 {
    margin: 0;
  }
}

.mx {
  margin-right: 12px;
  margin-left: 12px;
  &-l {
    margin-right: 18px;
    margin-left: 18px;
  }
  &-s {
    margin-right: 6px;
    margin-left: 6px;
  }
}
.mt {
  margin-top: 12px;
  &-l {
    margin-top: 18px;
  }
  &-s {
    margin-top: 6px;
  }
}

.ml {
  margin-left: 12px;
  &-l {
    margin-left: 18px;
  }
  &-s {
    margin-left: 6px;
  }
}

.mr {
  margin-right: 12px;
  &-l {
    margin-right: 18px;
  }
  &-s {
    margin-right: 6px;
  }
}

.mb {
  margin-bottom: 12px;
  &-l {
    margin-bottom: 18px;
  }
  &-s {
    margin-bottom: 6px;
  }
}

.p {
  padding: 12px;
  &-l {
    padding: 18px;
  }
  &-m {
    padding: 10px;
  }
  &-s {
    padding: 6px;
  }
  &-0 {
    padding: 0;
  }
}

.px {
  padding-right: 12px;
  padding-left: 12px;
  &-l {
    padding-right: 18px;
    padding-left: 18px;
  }
  &-s {
    padding-right: 6px;
    padding-left: 6px;
  }
}

.py {
  padding-top: 12px;
  padding-bottom: 12px;
  &-l {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  &-s {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.pl {
  padding-left: 12px;
  &-l {
    padding-left: 18px;
  }
  &-s {
    padding-left: 6px;
  }
}

.pr {
  padding-right: 12px;
  &-l {
    padding-right: 18px;
  }
  &-s {
    padding-right: 6px;
  }
}

.pb {
  padding-bottom: 12px;
  &-l {
    padding-bottom: 18px;
  }
  &-s {
    padding-bottom: 6px;
  }
}
.pt {
  padding-top: 12px;
  &-l {
    padding-top: 18px;
  }
  &-s {
    padding-top: 6px;
  }
}
img {
  width: 100%;
}

.text-small {
  font-size: 12px;
}

.text-large {
  font-size: 18px;
}

.text-bold{
  font-weight: 550;
}

.sticky {
  position: sticky;
}
// 全局函数
@function vw($px) {
  @return ($px / $root-width) * 100vw;
}

//清浮动
br {
  clear: both;
}
