$rootWidth: 750;

$xs: 6px;
$sm: 8px;
$lg: 12px;
$xl: 16px;

// 重置样式
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// 通用样式
.icon {
  width: 32px;
  height: 32px;

  &.small {
    width: 22px;
    height: 22px;
  }

  &.large {
    width: 48px;
    height: 48px;
  }
}



img {
  width: 100%;
}

.text-small {
  font-size: 12px;
}

// 全局函数
@function vw($px) {
  @return ($px / $rootWidth) * 100vw;
}
